NRed/lib/flows/flowsNR.json
[{"id":"98dc15e9.f7f238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"987c9d34.59d32","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0e232bc.b33ad","type":"inject","z":"98dc15e9.f7f238","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["9672c71c.0fd898"]]},{"id":"9672c71c.0fd898","type":"debug","z":"98dc15e9.f7f238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":240,"wires":[]},{"id":"ab46efb7.8ec54","type":"inject","z":"98dc15e9.f7f238","name":"Test JSON 1","topic":"testing","payload":"{\"Account\":{\"Key2Test\":\"GoldKeys\",\"Account Name\":\"Firefly\",\"Order\":[{\"OrderID\":\"order103\",\"OrderDateTime\":\"2019-11-18T21:36:48.143Z\",\"Level of Alertness\":\"Alert\",\"Product\":[{\"Product Name\":\"Bowler Hat\",\"ProductID\":858383,\"SKU\":\"0406654608\",\"Description\":{\"Colour\":\"Purple\",\"Width\":300,\"Height\":200,\"Depth\":210,\"Weight\":0.75},\"Price\":34.45,\"Quantity\":2},{\"Product Name\":\"Trilby hat\",\"ProductID\":858236,\"SKU\":\"0406634348\",\"Description\":{\"Colour\":\"Orange\",\"Width\":300,\"Height\":200,\"Depth\":210,\"Weight\":0.6},\"Price\":21.67,\"Quantity\":1}]},{\"OrderID\":\"order104\",\"Product\":[{\"Product Name\":\"Bowler Hat\",\"ProductID\":858383,\"SKU\":\"040657863\",\"Description\":{\"Colour\":\"Purple\",\"Width\":300,\"Height\":200,\"Depth\":210,\"Weight\":0.75},\"Price\":34.45,\"Quantity\":4},{\"ProductID\":345664,\"SKU\":\"0406654603\",\"Product Name\":\"Cloak\",\"Description\":{\"Colour\":\"Black\",\"Width\":30,\"Height\":20,\"Depth\":210,\"Weight\":2},\"Price\":107.99,\"Quantity\":1}]}]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":380,"wires":[[]],"l":false},{"id":"9fa21d0a.66517","type":"change","z":"98dc15e9.f7f238","name":"","rules":[{"t":"change","p":"payload.Account.Order[0][\"Level of Alertness\"]","pt":"msg","from":"Alert","fromt":"str","to":"at005","tot":"str"},{"t":"change","p":"payload.Account.Order[0][\"Level of Alertness\"]","pt":"msg","from":"Voice","fromt":"str","to":"at006","tot":"str"},{"t":"change","p":"payload.Account.Order[0][\"Level of Alertness\"]","pt":"msg","from":"Pain","fromt":"str","to":"at007","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":360,"wires":[[]]},{"id":"758bf66d.aa08c8","type":"debug","z":"98dc15e9.f7f238","name":"PostTemplate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":320,"wires":[]},{"id":"205b1990.8b4c16","type":"template","z":"98dc15e9.f7f238","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"This!\" : \"{{payload.Account.Key2Test}}\",\n\"NextUp\": \"{{payload.Account.\"Account Name\"}}\"\n}","output":"json","x":740,"y":340,"wires":[["758bf66d.aa08c8"]]},{"id":"edb97426.56f0d8","type":"debug","z":"98dc15e9.f7f238","name":"PreTemplate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":500,"wires":[]},{"id":"525c5fc.ef570a","type":"change","z":"98dc15e9.f7f238","name":"Change Template 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"LaboratoryTestName\": payload.LabOrderDetails.LabTestName,\t\"Details for test\":payload.LabOrderDetails[\"Clinical Description\"],\t\"DateTime\": payload.LabOrderDetails.DateTime,\t\"Urgent\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":600,"wires":[["de328a8a.b57398"]],"l":false},{"id":"de328a8a.b57398","type":"debug","z":"98dc15e9.f7f238","name":"PostJSONata Template","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":600,"wires":[]},{"id":"17162e.c65e59d2","type":"inject","z":"98dc15e9.f7f238","name":"","topic":"","payload":"{\"LabOrder\":1,\"LabOrderDetails\":{\"DateTime\":\"19/11/2019 2pm\",\"Clinical Description\":\"Alert\",\"LabTestName\":\"Full Blood Count\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["edb97426.56f0d8","6233a07c.99cb6"]]},{"id":"6233a07c.99cb6","type":"change","z":"98dc15e9.f7f238","name":"","rules":[{"t":"change","p":"payload.LabOrderDetails[\"Clinical Description\"]","pt":"msg","from":"Alert","fromt":"str","to":"GCSScore=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":720,"wires":[["525c5fc.ef570a"]]},{"id":"424e0b93.58ae64","type":"inject","z":"987c9d34.59d32","name":"","topic":"","payload":"{\"LabOrder\":1,\"LabOrderDetails\":{\"DateTime\":\"19/11/2019 2pm\",\"Clinical Description\":\"Alert\",\"LabTestName\":\"Full Blood Count\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":140,"wires":[["22827252.f067ee","49c50928.a62008"]],"l":false},{"id":"49c50928.a62008","type":"function","z":"987c9d34.59d32","name":"QewdJSON Transformer","func":"var TfMod = global.get('TfModule'); //load transformer\nvar inputJSON = msg.payload; // accept JSON from input node (via msg.payload)\n//example InputJSON\n//{\"LabOrderDetails\": {\n//                      \"DateTime\": \"19/11/2019 2pm\",\n//                      \"Clinical Description\": \"Alert\",\n//                      \"LabTestName\": \"Full Blood Count\" } }\n// \n////////////////////////////////////\n\n\nvar TransformTemplate = {        // apply transform template (+/- functions)\n    \n    //// sample please replace\n    \"TestName\": '{{LabOrderDetails.LabTestName}}',\n    \"Details\": {\n      \"DateTime\": '{{LabOrderDetails.DateTime}}',\n      \"Supplier\": \"DublinLabs\",\n      \"Test#\" : '{{LabOrder}}',\n      \"Urgent\": false,\n      \"Clinical Details\": '{{LabOrderDetails[\"Clinical Description\"]}}' \n    }\n    //// end of sample\n    \n} \n\n\n\n////////////////////////////////////////////\nvar transform = TfMod.transform; // get transform method\nvar OutputJSON = transform(TransformTemplate, inputJSON); // transform Input to Output\nmsg.payload = OutputJSON; // return new OutputJSON object \nreturn msg; // pass this out ","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["21bab096.da41e"]]},{"id":"22827252.f067ee","type":"debug","z":"987c9d34.59d32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":160,"wires":[]},{"id":"21bab096.da41e","type":"debug","z":"987c9d34.59d32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":200,"wires":[]},{"id":"96002740.ce1608","type":"comment","z":"987c9d34.59d32","name":"this is a comment node for checking","info":"","x":620,"y":100,"wires":[]}]